 <div class="container" id="adv-search">
   <div class="outer">
      <div class="middle">
         <div class="inner">
            <div class="text-center" style="margin-bottom: 30px;"><%= image_tag("biblia.png") %></div>
            <%= form_tag("/resultados", method: "get", :id => 'envia_termos') do %>
            <div class="input-group input-group-lg">
               <span class="input-group-btn">
                  <ul class="dropdown-menu">
                     <li><a role="button" class="nlk-search-type" data-radio="#target-nlk" data-value="in NML Website" data-action="/" data-param="s" data-target="_self">NML Website - services, resources, activities, news...</a></li>
                     <li><a role="button" class="nlk-search-type" data-radio="#target-medvik" data-value="in Medvik Portal" data-action="http://www.medvik.cz/bmc/opensearch.do" data-param="q" data-target="_self">Medvik - library catalogs, Czech articles</a></li>
                     <li><a role="button" class="nlk-search-type" data-radio="#target-summon" data-value="in Summon" data-action="http://nlk.summon.serialssolutions.com/" data-param="q" data-target="_self">Summon - online resources and full texts</a></li>
                  </ul>
               </span>
               <input id="nlk-search-str" name="termos" type="text" maxlength="200" class="form-control" placeholder="Digite aqui os termos" data-def="Enter a query" required>
               <span class="input-group-btn"> 
               <button class="btn btn-primary" type="submit" id="nlk-search-submit">
               <i class="fa fa-search"></i>
               </button> 
               </span>    
            </div>
            <div class="adv-search-target">
               <label class="radio-inline">
               <input type="checkbox" name="exata" id="target-nlk" value="exata" checked class="nlk-search-type nlk-radio" data-value="in NML Website" data-action="/" data-param="s" data-target="_self"> Exata
               </label>
               <label class="radio-inline" style="margin-left: 10px;">
               <input type="checkbox" name="sinonimo" id="target-medvik" value="sinonimo" class="nlk-search-type nlk-radio" data-value="in Medvik Portal" data-action="http://www.medvik.cz/bmc/opensearch.do" data-param="q" data-target="_self"> Sinônimos
               </label>
               <label class="radio-inline" style="margin-left: 10px;">
               <input type="checkbox" name="antonimo" id="target-summon2" value="antonimo" class="nlk-search-type nlk-radio" data-value="in Summon" data-action="http://nlk.summon.serialssolutions.com/" data-param="q" data-target="_self"> Antônimos
               </label>
               <label class="radio-inline" style="margin-left: 10px;">
               <input type="checkbox" name="verbo" id="target-summon3" value="verbo" class="nlk-search-type nlk-radio" data-value="in Summon" data-action="http://nlk.summon.serialssolutions.com/" data-param="q" data-target="_self"> Verbos
               </label>
               <label class="radio-inline" style="margin-left: 10px;">
               <input type="checkbox" name="radical" id="target-summon4" value="radical" class="nlk-search-type nlk-radio" data-value="in Summon" data-action="http://nlk.summon.serialssolutions.com/" data-param="q" data-target="_self"> Radical
               </label>
            </div>
            <% end %>
         </div>
         <% if alert.present? %>
            <div class="alert alert-warning alert-dismissible" role="alert" style="margin-top: 20px;">
               <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <p class="text-center"><%= alert %> </p>
            </div>
         <% end %>
      </div>
   </div>
</div>

<div class="modal fade modal_mensagem" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="text-center"><h4 class="modal-title" id="nome_usuario_msg"></h4></div>
      </div>
      <div class="modal-body">
         <p class="text-center"><strong>Bem-vindo ao nosso sistema de ranking sobre a bíblia.</strong></p>
         <p class="text-center"><strong>Antes de comerçarmos, veja algumas pequenas instruções:</strong></p>
         <ul>
            <li>
              Você poderá fazer uma busca em vários contextos, marque em quais contextos você quer que sua busca seja inserida (exata, sinônimos, etc.). 
              <div class="text-center" style="margin-top: 10px; margin-bottom: 25px;"><%= image_tag("instrucao1.png", :width => "465px", :height => "106px", :class  => "img-thumbnail") %></div>
            </li>
            <li style="margin-top: 10px;">
              Nos resultados da busca, serão exibidos em destaque os termos que estão inseridos nos contextos pretendidos por você.
              <div class="text-center" style="margin-top: 10px; margin-bottom: 25px;"><%= image_tag("instrucao2.png", :width => "607px", :height => "155px", :class  => "img-thumbnail") %></div>
            </li>
            <li style="margin-top: 10px;">
              A direita dos resultados da busca, serão exibidos os pesos de cada versìculo.
              <div class="text-center" style="margin-top: 10px; margin-bottom: 25px;"><%= image_tag("instrucao3.png", :width => "746px", :height => "54px", :class  => "img-thumbnail") %></div>
            </li>
            <li style="margin-top: 10px;">
              Os dez primeiros resultados poderão ser reordenados pelas setas à direita dos resultados. Portanto, caso os versìculos estejam em uma sequência que não o satisfaça, por favor os reordene. Assim, poderemos usar essa avaliação como um feedback para este trabalho.
              <div class="text-center" style="margin-top: 10px; margin-bottom: 25px;"><%= image_tag("instrucao4.png", :width => "837px", :height => "52px", :class  => "img-thumbnail") %></div>
            </li>
            <li style="margin-top: 10px;">
              Cada contexto possui um peso em relação a busca efetuada. Caso você queira dar mais ou menos importância a um contexto, vá até a área de login localizada na parte superior direita da página, clique em "PESOS DE BUSCA", e insira os valores dos pesos desejados.
              <div class="text-center" style="margin-top: 10px; margin-bottom: 25px;"><%= image_tag("instrucao5.png", :width => "576px", :height => "313px", :class  => "img-thumbnail") %></div>
            </li>
            <li style="margin-top: 10px;">
               Devido a grande quantidade de documentos analisados, talvez a busca demore um pouco. Basta somente aguardar e o resultado será exibido.
              <div class="text-center" style="margin-top: 10px; margin-bottom: 25px;"><%= image_tag("instrucao6.png", :width => "563px", :height => "127px", :class  => "img-thumbnail") %></div>          
            </li>
         </ul>
         <p class="text-center"><strong>Boa avaliação!</strong></p>
         <%= form_tag("/mensagem_inicial", method: "post", :id => 'envia_mensagem') do %>
         <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
  //$('.modal_mensagem').modal('show');
   <% if user_signed_in? %>
      var usuario_mensagem = '<%= "#{current_user.mensagem}" %>';
      if(usuario_mensagem === "S"){
         $("#nome_usuario_msg").text('<%= "Olá #{current_user.nome}" %>')
         $('.modal_mensagem').modal('show');
         var method = $("#envia_mensagem").attr("method");
         var action = $("#envia_mensagem").attr("action");
         var data = $("#envia_mensagem").serialize();
         $.ajax({
           type: method,
           url: action,
           data: data
         });
      }
   <% end %>
</script>