<!DOCTYPE html>
<html>
  <head>
    <title>Biblia</title>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag "init" %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag 'biblia.ico' %>
  </head>

  <body>
  	<header>
      <% if user_signed_in? %>
        <%= render 'layouts/usuario_navbar' %>
      <% else %>
        <%= render 'layouts/visitante_navbar' %> 
      <% end %>
  	</header>
    <div id="content">
      <%= yield %>
    </div>

    <div class="modal fade modal_cadastro" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <%= form_tag("/cadastra_usuario", method: "post", :class => 'cadastra_usuario') do %>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title text-center">Cadastro de Usuário</h4>
            </div>
            <div class="modal-body">
              <p class="text-center" style="margin-bottom: 30px; color: #0000FF;">Por favor, cadastre-se para podermos registrar sua avaliação.</p>
              <div class='row'>
                <div class="col-md-10 col-md-offset-1">
                  <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" name="usuario[nome]" placeholder="Nome">
                  </div>
                </div>
                <div class="col-md-10 col-md-offset-1">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="usuario[email]" placeholder="Ex.: joaodasilva@****.com">
                  </div>
                </div>
                <div class="col-md-10 col-md-offset-1">
                  <div class="form-group">
                    <label for="nivel">Qual seu nível de conhecimento bíblico?</label>
                    <div id='nivel'>
                      <label class="radio-inline">
                        <input type="radio" name="usuario[nivel]" id="inlineRadio1" value="3"> alto
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="usuario[nivel]" id="inlineRadio2" value="2"> médio
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="usuario[nivel]" id="inlineRadio3" value="1"> baixo
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-10 col-md-offset-1">
                  <div class="form-group">
                    <label for="usuario">Usuário</label>
                    <input type="text" class="form-control" id="usuario" name="usuario[login]" placeholder="Ex.:joao123">
                  </div>
                </div>
                <div class="col-md-10 col-md-offset-1">
                  <div class="form-group">
                    <label for="senha_cadastro">Senha</label>
                    <input type="password" class="form-control" id="senha_cadastro" name="usuario[password]" placeholder="Senha">
                  </div>
                </div>
                <div class="col-md-10 col-md-offset-1">
                  <div class="form-group">
                    <label for="senha2">Repita a senha</label>
                    <input type="password" class="form-control" id="senha2" name="usuario[password_confirmation]" placeholder="Senha">
                    <input type="hidden" name="usuario[mensagem]" value="S">
                    <input type="hidden" name="usuario[pesoExata]" value="1">
                    <input type="hidden" name="usuario[pesoSinonimo]" value="0.6">
                    <input type="hidden" name="usuario[pesoAntonimo]" value="0.1">
                    <input type="hidden" name="usuario[pesoFlexao]" value="0.5">
                    <input type="hidden" name="usuario[pesoRadical]" value="0.2">
                  </div>
                </div>
                <div class="col-md-10 col-md-offset-1">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" class="check_aceito">Li e concordo com o <a href="./termo.pdf" target="_blank">TERMO DE CONSENTIMENTO LIVRE E ESCLARECIDO.</a>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row msg_erro_cadastro" style="display:none;">
                <div class="col-md-10 col-md-offset-1">
                  <div class="alert alert-danger alert-dismissible" role="alert">
                     <div class="text-center"><strong>Erro!</strong> <p id="msg_cadastro"></p></div>
                  </div>
                </div>
              </div>
              <div class="row msg_sucesso_cadastro" style="display:none;">
                <div class="col-md-10 col-md-offset-1">
                  <div class="alert alert-success alert-dismissible" role="alert">
                     <div class="text-center"> <p id="msg_cadastro_2"></p></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
              <button type="submit" class="btn btn-primary btn_cadastro" disabled>Cadastrar</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="modal fade modal_pesos" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <%= form_tag("/atualiza_usuario", method: "put", :class => 'atualiza_usuario') do %>
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content content_pesos">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title text-center">Pesos de busca</h4>
            </div>
            <div class="modal-body">
              <p class="text-center" style="margin-bottom: 30px; color: #0000FF;">Cadastre o peso para cada um dos contextos, de acordo com seu critério de busca. O valores devem ser fracionários de 0 a 1.</p>
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="form-group">
                    <label for="peso_exata">Peso para busca exata</label>
                    <input type="number" step="0.01" class="form-control" id="peso_exata" placeholder="Ex.: 0,67" name="usuario[pesoExata]" value="<%= if(user_signed_in?)
                      current_user.pesoExata
                    end
                    %>">
                  </div>
                </div>
                <div class="col-md-10 col-md-offset-1">
                  <div class="form-group">
                    <label for="peso_sinonimo">Peso para busca por sinônimo</label>
                    <input type="number" step="0.01" class="form-control" id="peso_sinonimo" placeholder="Ex.: 0,67" name="usuario[pesoSinonimo]" value="<%= if(user_signed_in?)
                      current_user.pesoSinonimo
                    end
                    %>">
                  </div>
                </div>
                <div class="col-md-10 col-md-offset-1">
                  <div class="form-group">
                    <label for="peso_antonimo">Peso para busca por antônimo</label>
                    <input type="number" step="0.01" class="form-control" id="peso_antonimo" placeholder="Ex.: 0,67" name="usuario[pesoAntonimo]" value="<%= if(user_signed_in?)
                      current_user.pesoAntonimo
                    end
                       %>">
                  </div>
                </div>
                <div class="col-md-10 col-md-offset-1">
                  <div class="form-group">
                    <label for="peso_flexao">Peso para busca verbal</label>
                    <input type="number" step="0.01" class="form-control" id="peso_flexao" placeholder="Ex.: 0,67" name="usuario[pesoFlexao]" value="<%= if(user_signed_in?)
                    current_user.pesoFlexao
                      end
                     %>">
                  </div>
                </div>
                <div class="col-md-10 col-md-offset-1">
                  <div class="form-group">
                    <label for="peso_radical">Peso para busca por radical</label>
                    <input type="number" step="0.01" class="form-control" id="peso_radical" placeholder="Ex.: 0,67" name="usuario[pesoRadical]" value="<%= if(user_signed_in?)
                          current_user.pesoRadical
                        end
                      %>">
                  </div>
                </div>
              </div>
              <div class="row msg_erro_atualiza" style="display:none;">
                <div class="col-md-10 col-md-offset-1">
                  <div class="alert alert-danger alert-dismissible" role="alert">
                     <div class="text-center"><strong>Erro!</strong> <p id="msg_atualiza"></p></div>
                  </div>
                </div>
              </div>
              <div class="row msg_sucesso_atualiza" style="display:none;">
                <div class="col-md-10 col-md-offset-1">
                  <div class="alert alert-success alert-dismissible" role="alert">
                     <div class="text-center"> <p id="msg_atualiza_2"></p></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
